<a href="https://colab.research.google.com/github/sravank194/Pythonrepo/blob/Dev/Practice_Session_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def math(a,b):
  print(f"Addition of {a} & {b} is :" ,a+b)
  print(f"Substraction of {a} & {b} is :" ,a-b)
  print(f"Multification of {a} & {b} is :" ,a*b)
  print(f"Devision / of {a} & {b} is :" ,a/b)
  print(f"remainder % of {a} & {b} is :" ,a%b)

In [8]:
math(10,5)

Addition of 10 & 5 is : 15
Substraction of 10 & 5 is : 5
Multification of 10 & 5 is : 50
Devision / of 10 & 5 is : 2.0
remainder % of 10 & 5 is : 0

In [9]:
def checkevenorodd(a):
  if a%2==0:
    print(f"{a} is even number")
  else:
    print(f"{a} is odd number")

In [13]:
checkevenorodd(10)

10 is even number

In [19]:
def sum(l):
  sum1=0
  for i in l:
    sum1=sum1+i
  return sum1

In [22]:
l=[1,2,4]
sum(l)

7

In [28]:
s='sravani'
v=['a','e','i','o','u']
list1=[]
for i in s:
  j=0
  if i in v:
    j=j+1
    list1.append(j)
sum(list1)

3

In [31]:
string='srars'
if string==string[::-1]:
  print('palindrome')
else:
  print('not palindrome')

palindrome

In [33]:
max_list=[2,4,6,8]
print('Maximum number is : ', max(max_list))
print('Minimum number is : ', min(max_list))

Maximum number is :  8
Minimum number is :  2

In [49]:
def checkprime(n):
  if n>1 and n%2!=0:
    for i in range(2,(n//2)+1):
      if n%i==0:
        print(f"{n} is not prime number")
        break

    else:
      print(f"{n} is prime number")
  else:
   print(f"{n} is not prime number")

In [54]:
checkprime(23)

23 is prime number

In [55]:
str='sravani'
str[::-1]

'inavars'

In [3]:
l1=[1,2,3,4,5]
l2=[1,3,4,6,7]
s1=set(l1)
s2=set(l2)
list(s1.intersection(s2))

[1, 3, 4]

In [1]:
l1=[1,2,3,4,5]
l2=[1,3,4,6,7]
for i in l1:
  for j in l2:
    if i==j:
      print(i)

1
3
4

In [38]:
(11//2)+1

6

In [90]:
def getSum(n):

  sum = 0
  for digit in str(n):
    sum = sum + int(digit)
  return sum

In [92]:
def getSum1(n):
    strr = str(n)
    list_of_number = list(map(int, strr.strip()))
    return sum(list_of_number)

In [94]:
def getSum2(n):

    sum = 0
    while (n != 0):
      sum = sum + (n % 10)
      n = n//10
    return sum

In [1]:
def sumnum(n):
  sum=0
  while n!=0:
    sum=sum+n%10
    n=n//10
  return sum

In [2]:
n=12345
sumnum(n)

15

In [3]:
l=[1,2,2,3,4,5,6,2,3]
t=set(l)
ls=list(t)
ls

[1, 2, 3, 4, 5, 6]

In [110]:
1//10

0

In [96]:
10//2

5

In [59]:
n=[123]
j=0
for i in n.items():
  j=j+i
print(j)

AttributeError: 'list' object has no attribute 'items'